body{
    margin: 0;
    padding: 0;
    background-color: #FAFAFA;
    font: 12pt "Tahoma";
}
.headPage{
    width: 21cm;
    min-height: 26.7cm;
    padding: 2cm;
    margin: 1cm auto;
    border: 1px #d3d3d3 solid;
    border-radius: 5px;
    background: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}
*{
    box-shadow: border-box;
}
.heading{
    text-align: right;
}
#logo{
    box-align : left;
}

.float-box1 {
    float: left;
    width: 300px;
    height: 175px;
    margin: 5px;
}

.float-box2{
    float: right;
    width: 300px;
    height: 75px;
    margin: 5px; 
}

.line{
    border-left: 1px solid black; 
    border-spacing: 2px;
    margin-left: -5px;
    margin-right: 5px;
    height: 60px;
    padding: 10px;
}
#date{
    background-color: lightgray;
    text-align: right;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
 #header{
    /* border-bottom: 1px solid black; */
    padding: 10px;
    width: 800px;
}
#header2{
    margin-left: 340px;
    width: 800px;
}

#box{
    border-style: solid;
    border-color: 1px solid #e8ecf2;
    background-color: #f3f5f8;
    padding-bottom: 0cm;
}
#box1{
    background-color: white;
}
#box2{
    border-bottom: 1px solid black;
    padding: 7px;
}
#city1{
    padding-left: 5%;
    padding-top: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 22px;
}
#city2{
    margin-left: 100px;
}
#price{
    margin-left: 250px;
}
#state1{
    margin-left: 40px;
}
#state2{
    margin-left: 170px;
}
#amount{
    margin-left:260px;
    font-size: 90%;
}
#rs{
    margin-left: 640px;
    font-size: 85%;
}
#quantity{
    margin-left: 40px;
}
#balance{
    margin-left: 620px;
    margin-top: 120px;
}
#name{
    margin-left:175px;
    font-size: 70%;
    padding-bottom: 0.5cm;
}
#box3{
    border: 0.5px solid gray;
    
}
#box4{
    width: 250px;
    max-width: 250px;
    height: 60px;
    border-right: 1px solid gray;
}
#supplier1{
    padding-left: 5%;
    position: relative;
    top: 10px;
}
#supplier2{
    padding-left: 5%;
    position: relative;
    top: 10px;
}
#box5{
    float: left;
    width: 250px;
    height: 60px;
    border: 1px solid black;
    position: relative;
    right: 0px;
    left: 250px;
    bottom: 60px;
}
#box6{
    float: left;
    width: 283px;
    height: 60px;
    border: 1px solid black;
    position: relative;
    right: 0px;
    left: 250px;
    bottom: 60px;
}
#fees{
    padding: 20px;
    font-size: 20px;
    position: relative;
    right: 540px;
    font-family: Arial, Helvetica, sans-serif;
}
#tab{
    border: 1px solid black;
    width: 100%;
    border-collapse: collapse;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}
#tab td,#tab th{
    border: 1px solid black;
    padding: 8px;
}
#tab th{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgray;
}
#tab td{
    padding: 15px;
}
#terms{
    padding-top: 20px;
}
#para{
    color:grey;
    font-size: 14px;
    list-style-type:decimal;
    padding-top: 10px;
}
#note{
    margin-top: 5%;
    background-color: lightgray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 5px;
}